alsa-midi==1.0.2
annotated-types==0.7.0
carp-rpc==0.0.8
cffi==1.17.1
Cython==3.0.12
flopsy==0.0.6
glfw==2.8.0
imgui-bundle==1.6.2
munch==4.0.0
numpy==2.2.4
pillow==11.1.0
posix_ipc==1.1.1
protobuf==6.30.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyliblo3==0.16.3
pynose==1.5.4
PyOpenGL==3.1.9
PySDL2==0.9.17
python-dateutil==2.9.0.post0
samplerate==0.2.1
setuptools==77.0.1
simplejson==3.20.1
six==1.17.0
soundfile==0.13.1
typing_extensions==4.12.2
yappi==1.6.10
